doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='lib/openseadragon/openseadragon.js')
    script(src='lib/modernizr/modernizr-custom.js')
    script(src='javascripts/osd.js')
    script(src='javascripts/zoom-click.js')
  body
    block content